<!DOCTYPE html>
<html>
  <head>
    <%# (helper) %>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/z_head' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%# id: (review/destroy)_ajax %>
      <div id="flash_messages">
        <%= render 'layouts/flash' %>
      </div>
      <main>
        <%= yield %>
        <%= debug(params) if Rails.env.development? %>
      </main>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
