<!DOCTYPE html>
<html>
  <head>
    <%# (app/helpers/application_helper) %>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= render 'layouts/flash' %>
      <main>
        <%= yield %>
        <%= debug(params) if Rails.env.development? %>
      </main>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
