<% if user_signed_in? %>
  <div class="row">
    <aside class="col-md-4">
      <%# ユーザー情報 %>
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
    </aside>
    <div class="col-md-8">
      <%# 検索 %>
      <div class="search_form">
        <%= render 'static_pages/posts_search' %>
      </div>
      <div class="pkmap">
        <%= render 'static_pages/map' %>
      </div>
      <%# 投稿一覧 %>
      <div id="ajax_feed">
        <%= render 'shared/feed' %>
      </div>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>外に出よう</h1>
    <h2 class="text-warning">動ける場所は見つかる</h2>
    <%= link_to "登録", 'users/sign_up', class: "btn btn-lg btn-primary" %>
    <%= link_to "登録なしでログイン", users_guest1_path, method: :post, class: "btn btn-lg btn-success" %>
    <% if Rails.env.development? %>
      <%= link_to "ログイン3", users_guest2_path, method: :post, class: "btn btn-lg btn-warning" %>
    <% end %>
  </div>
<% end %>
