<% if user_signed_in? %>
  <div class="row">
    <aside class="col-md-4">
      <%# ユーザー情報 %>
      <section class="user_info">
        <%= render 'shared/user_info', user: current_user %>
      </section>
      <%# 検索 %>
      <section class="map_search">
        <%= render 'search_map' %>
      </section>
      <section class="post_search">
        <%= render 'search_post' %>
      </section>
    </aside>
    <%# メイン 地図 %>
    <div class="col-md-8">
      <div class="pkmap">
        <%= render 'static_pages/map' %>
      </div>
      <%# 投稿一覧 %>
      <div id="ajax_feed">
        <%= render 'shared/feed' %>
      </div>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>外に出よう</h1>
    <h2 class="">動ける場所は見つかる</h2>
    <%# Registrations(C) %>
    <%= link_to "登録なしでログイン", users_guest2_path, method: :post, class: "btn btn-lg btn-success" %>
    <% if Rails.env.development? %>
      <br>
      <%= link_to "ログイン1", users_guest1_path, method: :post, class: "btn btn-danger" %>
      <%= link_to "ログイン3", users_guest3_path, method: :post, class: "btn btn-warning" %>
    <% end %>
  </div>
<% end %>
